*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  background: var(--bg-main);
  color: var(--text-main);
  transition: background 0.3s ease, color 0.3s ease;
}

:root {
  --header-height: 72px;
  --bg-main: #ffffff;
  --text-main: #111827;
  --text-sub: #6b7280;

  --card-bg: #f3f4f6;
  --border-color: #e5e7eb;

  --footer-bg: #ffffff;
  --footer-text: #111827;
  --footer-sub: #6b7280;
}

.page-container {
  width: 100%;
  max-width: 1750px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}

@media (max-width: 992px) {
  .page-container {
    padding: 0 24px;
  }
}

@media (max-width: 768px) {
  :root {
    --header-height: 64px;
  }

  .page-container {
    padding: 0 20px;
  }
}

@media (max-width: 576px) {
  .page-container {
    padding: 0 16px;
  }
}

/* 🌙 DARK MODE */
[data-theme="dark"] {
  --bg-main: #020617;
  --text-main: #f1f5f9;
  --text-sub: #cbd5f5;

  --card-bg: #1e293b;
  --border-color: #334155;

  --footer-bg: linear-gradient(135deg, #020617, #0f172a, #1e293b);
  --footer-text: #f1f5f9;
  --footer-sub: #cbd5f5;
}